{% extends "layout.html"%}

{%block content%}
    {%from "_macros.html" import render_field%}
    <div class="container">
        <div class="row">
            <form name="sent" action="/ABCompleto" id="form1" method="POST">
                <div class="row control-group">
                    <div class="form-group col-xs-12 float-label-form-group controls">
                        {{render_field(form.nombre,class='form-control')}}
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 float-label-form-group controls">
                        {{render_field(form.apellidos,class='form-control')}}
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 float-label-form-group controls">
                        {{render_field(form.email,class='form-control')}}
                    </div>
                </div>
                <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
                <input type="submit" class="btn btn-success" id="modificar" name="modificar" value="modificar"/>
            </form>
            <h3>ALUMNOS IDGS</h3>

            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="tr-head">
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Correo</th>
                        <th>Eliminar</th>
                        <th>Modificar</th>
                    </tr>
                </thead>
                <tbody>
                    {%for alum in alumnos%}
                    <tr>
                        <td>{{alum.nombre}}</td>
                        <td>{{alum.apellidos}}</td>
                        <td>{{alum.correo}}</td>
                        <td><a href="eliminar.html?id={{alum.id}}" class="btn btn-danger">
                            <i class="icon-remove icon-white"></i> Eliminar</a></td>
                        <td><a href="modificar.html?id={{alum.id}}" class="btn btn-warning">
                            <i class="icon-pencil icon-white"></i> Modificar</a></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
{%endblock%}