{% extends "layout.html"%}

{%block content%}
<div class="col-xs-6">
    {%from "_macros.html" import render_field %}
    <form action="/guardar" method="post" novalidate>
        <div class="form-group">
            {{render_field(form.spanish)}}
        </div>
        <div>
            {{render_field(form.english)}}
        </div>
        <div>
            <h4>{{res}}</h4>
        </div>
        <br>
        <input type='submit' class="btn btn-success" value='Guardar'>
    </form>
</div>
<div class="col-xs-6">
    <form action="/resultado" method="post">
        <div>
            {{render_field(form.search)}}
        </div>
    <div class="control-group">
        <label for="btnIdioma" class="control-label">Idioma: </label>
        <div class="controls">
            <div class="form-group">
                <label for="i" >Español <input type="radio" name="btnOpcion" value="1" style="margin-left: 10px;"></label>
            </div>
            <div class="form-group">
                <label for="i">Ingles <input type="radio" name="btnOpcion" value="0" style="margin-left: 23px;"></label>
            </div>
        </div>
        <br><br>
        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn btn-info" value="Traducir">
            </div>
        </div>
        <br>
        <label for="txtResultado">Traducción: </label>
        <h4 name="txtResultado">{{buscar}}</h4>
    </div>
    </form>
</div>
{%endblock%}